
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>李叶运动</title>

        <link rel="stylesheet" href="http://nonooodle.com/public/ghost.min.css"/>
    </head>
    <body>
        <div class="gh-app">
            <div class="gh-viewport">
                <main class="gh-main" role="main">
                    <div class="gh-flow">
                        <div class="gh-flow-content-wrap">
                            <section class="gh-flow-content">
                                <header>
                                    <h1>欢迎您，{{ NickName }}！</h1>
                                </header>
                                法克汗姆已经完成了{{ TASKS.SUCCESS }}个任务，目前正在运行{{ TASKS.STARTED }}个，失败{{ TASKS.FAILED }}个。
                                <form style="text-align:center; height: 120px" class="gh-signin" method="post" action="/start/" novalidate="novalidate">
                                        {% csrf_token %}
                                    <button class="gh-btn gh-btn-blue gh-btn-block" type="submit"><span>开始跑步</span></button>
                                    <span>{{ MESSAGE_RUN }}</span>
                                </form>
                                <form style="text-align:center; height: 120px" class="gh-signin" method="post" action="/schedule/" novalidate="novalidate">
                                        {% csrf_token %}
                                    <button class="gh-btn gh-btn-blue gh-btn-block" type="submit"><span>定时跑步</span></button>
                                    <span>{{ MESSAGE_SCHEDULE }}</span>
                                </form>
                            </section>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#    欢迎使用法克汗姆，{{ NickName }}！<br>#}
{##}
{#    <form action="/start/" method='post'>#}
{#        {% csrf_token %}#}
{#        <input type="submit" value="开始跑步">#}
{#    </form>#}
{##}
{#    <form action="/schedule/" method='post'>#}
{#        {% csrf_token %}#}
{#        <input type="submit" value="定时跑步">#}
{#    </form>#}
{#法克汗姆已经完成了{{ TASKS.SUCCESS }}个任务，目前正在运行{{ TASKS.STARTED }}个，失败{{ TASKS.FAILED }}个。#}
{#<h3>提示信息：{{ MESSAGE }}</h3>#}
{#<h3>跑步信息：{{ MESSAGE_RUN }}</h3>#}
{#<h3>定时跑步信息：{{ MESSAGE_SCHEDULE }}</h3>#}
{#</body>#}
{#</html>#}